<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An exhibition of art installation portraiture photography by Kevin Madill examining transformations to gay queer homosexual urban life in Vancouver, British Columbia at the end of the twentieth century.">

  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>

  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='icon' type='image/png' href="{{ 'img/logo.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

  <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>
  <noscript><p>Please enable JavaScript in your browser.</p></noscript>
  {% include analytics.html %}
</head>
<meta name="google-site-verification" content="uoQ--Hgp63iWLaLgRVy0e30pzhNpCU42hNrU8gGkuOk" />
